body,h1,h2,h3,h4,h5,h6{
	font-family: 'Work Sans', sans-serif;
}
/*slider-section*/
.slider-section{
	background: url(img/mbr-10.jpg) no-repeat center center;
	padding: 200px 0px;

}
/*header*/
.my-header span{

	display: inline-block;
	background: #6278df;
	color:#fff;
	width: 40px;
	height: 43px;
	border-radius: 10px;
	font-size: 28px;
	top: 3px;
	position: relative;
	text-align: center;

}
.my-header .navbar-brand{
	font-size: 25px;
	font-weight: 500;
}